* {
    font-family: 'DM Sans', sans-serif !important;
}

svg, iframe {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 5px;
    object-fit: fill;
}

footer {
    width: 400px;
    position: absolute;
    bottom: -60px;
}

.active::after {
    box-sizing: border-box;
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(52, 80, 201);
    border-radius: 50px;
}